* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 80%;
  min-height: 100px;
  border: 1px solid lightgray;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.form-heading h1 {
  text-align: center;
  padding: 10px;
}
.form-data {
  width: 100%;
  padding: 10px;
}
.form-data table,
tr,
td {
  /* border: 1px solid lightgray; */
  padding: 10px;
}
.form-data table {
  border-collapse: collapse;
  width: 100%;
}
input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"] {
  width: 70%;
  padding: 6px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}
.text-align {
  width: 20%;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* text-align: right; */
}
.add {
  width: 70%;
  padding: 6px;
}
select {
  width: 70%;
  padding: 6px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}
.btnRegi {
  width: 120px;
  padding: 10px 20px;
  background-color: royalblue;
  color: white;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.btnclr {
  width: 120px;
  padding: 10px 20px;
  background-color: lightslategray;
  color: white;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
