* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 80%;
  min-height: 100px;
  border: 1px solid lightgray;
  margin: auto;
}
.heading h1 {
  text-align: center;
  padding: 10px;
  color: royalblue;
  /* text-decoration: double underline; */
}
.form-data {
  width: 98%;
  min-height: 100px;
  /* border: 3px solid red; */
  padding: 10px;
  margin: auto;
}
.form-data table {
  width: 100%;
  border-collapse: collapse;
  /* border: 2px solid purple; */
}
.form-data table tr td {
  border: 1px solid lightgray;
  padding: 10px;
}
.lbl-width {
  width: 20%;
}
input[type="text"] {
  width: 60%;
  padding: 5px;
}
.note {
  color: red;
  font-style: italic;
}
/* input[type="text"]::placeholder {
  color: red;
} */
.dob select {
  width: 19.6%;
  padding: 5px;
}
.qual {
  width: 100%;
  /* border: 1px solid red; */
  border: 1px solid lightgray;
}
.qual table,
tr,
th,
td {
  border: 1px solid lightgray;
  padding: 4px;
}
.qual table {
  border-collapse: collapse;
}
.qual table input {
  width: 100%;
}
