.container{

    width: 70%;
    min-height: 500px;
    border: 5px solid black;
    margin: auto;
}
*{
    background: #9de7eb;
}
.form{
    width:100% ;
    background: #dad3d3;
    min-height: 200px;
}
.header h1{
   text-align: center
}
.header label