* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 80%;
  min-height: 100px;
  margin: auto;
  border: 1px solid lightgray;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.header {
  width: 100%;
  height: 60px;
  background-color: black;
}
.header h1 {
  color: white;
  padding: 10px;
  font-size: 2.3em;
  font-weight: 400;
}
.menu {
  width: 100%;
  height: 60px;
  background-color: black;
  margin-top: 2px;
}
.menu ul {
  list-style-type: none;
  width: 100%;
}
.menu ul li {
  display: inline-block;
  padding-top: 15px;
  margin-left: 5px;
}
.menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 100;
  padding: 10px;
}
.menu ul li a:hover {
  background-color: brown;
  color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.slider {
  width: 100%;
  min-height: 300px;
  margin-top: 2px;
}
.slider img {
  width: 100%;
}
.bar-content-div {
  width: 100%;
  min-height: 300px;
  /* background-color: gray; */
  margin-top: 2px;
  /* padding: 10px; */
}
.bar-content-div .bar {
  width: 20%;
  min-height: 300px;
  /* border: 1px solid #000; */
  float: left;
}
.bar img {
  width: 100%;
  height: 300px;
}
.bar-content-div .content {
  width: 79%;
  min-height: 300px;
  /* border: 1px solid #000; */
  float: right;
}

.row {
  width: 100%;
  min-height: 300px;
  /* border: 3px solid red; */
}
.row .desc {
  width: 70%;
  min-height: 300px;
  float: left;
}
.desc h1 {
  padding: 10px;
  font-weight: 100;
}
.desc p {
  padding: 10px;
  text-align: justify;
}

.row .desc-img {
  width: 28%;
  min-height: 300px;
  float: right;
}
.desc-img img {
  width: 100%;
  height: 300px;
}
/* row1 code */

.row1 {
  width: 100%;
  min-height: 300px;
  /* border: 3px solid red; */
}
.row1 .desc1 {
  width: 70%;
  min-height: 300px;
  float: right;
}
.desc1 h1 {
  padding: 10px;
  font-weight: 100;
}
.desc1 p {
  padding: 10px;
  text-align: justify;
}

.row1 .desc-img1 {
  width: 28%;
  min-height: 300px;
  float: left;
}
.desc-img1 img {
  width: 100%;
  height: 300px;
}
.adv {
  width: 100%;
}
.adv img {
  width: 100%;
}
.footer {
  width: 100%;
  height: 60px;
  background-color: black;
  margin-top: 2px;
  margin-bottom: 10px;
}
.footer p {
  color: white;
  text-align: center;
  line-height: 60px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

/* media query */
