* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 80%;
  min-height: 100px;
  border: 1px solid #000;
  margin: auto;
}
.header-menu-div {
  width: 100%;
  height: 60px;
  background-color: #7d686f;
}
.header-menu-div .header {
  width: 40%;
  height: 60px;
  float: left;
}

.header h1 {
  color: white;
  padding: 10px;
}

.header-menu-div .menu {
  width: 60%;
  height: 60px;
  float: right;
  text-align: right;
}
.menu ul {
  list-style: none;
  width: 100%;
  padding-top: 20px;
}
.menu ul li {
  display: inline-block;
  margin-left: 10px;
}
.menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  padding: 10px;
}
.menu ul li a:hover {
  background-color: #241e32;
  color: white;
}
.slider {
  width: 100%;
  height: 400px;
}
.slider img {
  width: 100%;
  height: 400px;
}
.main-box {
  width: 100%;
  min-height: 300px;
  border: 1px solid red;
}
.main-box .box {
  width: 32.5%;
  min-height: 300px;
  background-color: gray;
  float: left;
  margin-left: 5px;
}
.box:first-child {
  background-color: red;
}
.box:last-child {
  background-color: green;
}
.box:nth-child(2) {
  background-color: orange;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
